body{
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: large;
}

h1 {
    color: red;
    text-align: center;
}

p {
    text-align: center;
}

button {
    background-color: yellow;
    font-weight: bold;
    padding: 1%;
    
}