body{
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: large;
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
}

p,h2,h3,li {
    color: white;
}

h2,p {
    text-align: center;
}
h3  {
    text-decoration: underline;
}
button {
    background-color: red;
    font-weight: bold;
    padding: 1%;
    
}
a{
    color: black;
}

img {
    max-width: 612px;
    height: Auto;
    display: block;
    margin: auto;

}