body{
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: large;
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
}

p {
    text-align: center;
}

button {
    background-color: red;
    color: black;
    font-weight: bold;
    padding: 1%;
    
}

img {
    display: block;
    margin: auto;
    
}

a{
    color: black;
}